<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <div align="center">
    <h1>Product List</h1>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Title</th>
                <th>Experience</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="job : ${listJobs}">
                <td th:text="${job.id}">Product ID</td>
                <td th:text="${job.title}">Title</td>
                <td th:text="${job.experience}">Experience</td>
                <td th:text="${job.description}">Description</td>
                <td th:text="${job.status}">Status</td>
                <td>
                    <a th:href="@{'/edit/' + ${job.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${job.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
    </body>
</html>
