<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Product</title>
</head>
<body>
    <div align="center">
        <h1>Create New Job</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${assessment}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Title:</td>
                    <td><input type="text" th:field="*{title}" /></td>
                </tr>
                <tr>
                    <td>Experience:</td>
                    <td><input type="text" th:field="*{experience}" /></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{description}" /></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td><input type="text" name="status" th:value="new" readonly="readonly" /></td>
                </tr>                            
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>